<form [formGroup]="progressForm">
    <div class="form-group row">
      <label for="Progress" class="col-sm-2 col-form-label">Progress</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" formControlName="progress" id="progress" placeholder="Progress">
      </div>
    </div>

    <div class="form-group row">
      <label for="persons" class="col-sm-2 col-form-label">Persons Working</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" formControlName="persons" id="persons" placeholder="Persons">
      </div>
    </div>

    <div class="form-group row">
        <label for="machines" class="col-sm-2 col-form-label">Machines Working</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" formControlName="machines" id="machines" placeholder="Machines">
        </div>
    </div>

    <div class="form-group row">
        <label for="hours" class="col-sm-2 col-form-label">Hours Worked</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" formControlName="hours" id="hours" placeholder="Hours">
        </div>
    </div>

    <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" formControlName="date" id="date">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
          <button (click)="submit()" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<button (click)="onBackToTasks()" class="btn btn-danger btn-sm back">Back to  Tasks</button>